@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$bg_color_1: #f3f3f3;

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0 auto;
  background: $bg_color_1;
}
