/* Login Page css here */
.login-box-layout {

  .login-box__label {
    margin: 10px;
  }

  .login-box__textfields {
    display: flex;
    flex-direction: column;

    .login-box-textfield {
      margin: 10px;
    }
  }
}
